name: OrangeFox Recovery Build (tapas)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Sunucusunda Yer Aç
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          # Bu komutlar bize yaklaşık 20-25 GB ekstra alan sağlar

      - name: Bağımlılıkları Kur
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential zip curl libc6-dev libncurses5-dev libssl-dev imagemagick python3-is-python3

      - name: OrangeFox Senkronizasyonu
        run: |
          mkdir ~/fox
          cd ~/fox
          git clone https://gitlab.com/OrangeFox/misc/scripts.git -b master
          cd scripts
          # Tüm repo yerine sadece gerekli olanı çekmek için derinliği sınırla
          git config --global core.compression 9
